* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* width: 80%; */
  background-color: #373b69;
}

header {
  background-color: #767dca;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
}

.search {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  border: 2px solid #373b69;
  outline: none;
  font-size: 1rem;
  color: white;
  background-color: transparent;
}

.search::placeholder {
  color: black;
}

.search:focus {
  background-color: #373b69;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  background-color: #767dca;
  margin: 1rem;
  overflow: hidden;
  position: relative;
}

.movie img {
  max-width: 100%;
  /* max-height: 400px; */
}

.movie-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin: 0;
  font-size: 1rem;
}

.movie-info span {
  background-color: #373b69;
  padding: 0.3rem;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: bold;
}

.movie-info span.green {
  background-color: #389135;
}

.movie-info span.yellow {
  background-color: #c2b71d;
}

.movie-info span.red {
  background-color: #a30b0b;
}

.overview {
  position: absolute;
  top: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.7;
  color: white;
  background-color: black;
  padding: 2rem;
  /* transform: translateY(100%); */
  transition: 0.3s ease-in;
}

.movie:hover .overview {
  /* transform: translateY(0); */
  top: 0;
}
